// form {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     margin: 0 auto;
//     width: 300px;
  
//     label {
//       display: block;
//       margin-bottom: 10px;
//       font-size: 18px;
//       font-weight: bold;
//       color: #555;
//     }
  
//     input {
//       padding: 12px;
//       border: 2px solid #eee;
//       border-radius: 10px;
//       margin-bottom: 20px;
//       width: 100%;
//       font-size: 16px;
//       color: #333;
//       transition: border-color 0.3s ease-in-out;
  
//       &:focus {
//         outline: none;
//         border-color: #10A19D;
//       }
  
     
//     }
  
//     button {
//       background-color: #10A19D;
//       color: white;
//       padding: 12px;
//       border: none;
//       border-radius: 10px;
//       margin-top: 10px;
//       margin-bottom: 10px;
//       width: 60%;
//       font-size: 18px;
//       font-weight: bold;
//       text-transform: uppercase;
//       letter-spacing: 2px;
//       transition: background-color 0.3s ease-in-out;
  
//       &:hover {
//         background-color: #4CAF50;
//         cursor: pointer;
//       }
//     }
  
//     .error{
//       display: flex;
//       color: red;
//       font-size: 12px;
//       width: 100%;
//       margin-top: 10px;
//       align-items: center;
//       justify-content: center;
//       margin-bottom: 10px;
//     }
//   }
  
.create {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 300px;
  
    input {
      padding: 5px;
      border: 2px solid #ccc;
      border-radius: 5px;
      margin-bottom: 10px;
      width: 100%;
      transition: border-color 0.3s ease-in-out;
    
        &:focus {
          outline: none;
          border-color: #10A19D;
        }
    }
    .remark{
      height:80px;
    }
  
    select {
      padding: 5px;
      border: 2px solid #ccc;
      border-radius: 5px;
      margin-bottom: 10px;
      width: 105%;
    }
  
    button {
      background-color: #ffffff;
      color: #10A19D;
      padding: 10px;
      border: 2px solid #10A19D;
      border-radius: 5px;
      width: 40%;
      margin-top: 5px;
      margin-left: 195px;
      font-weight: bold;
  
      &:hover {
        background-color: #10A19D;
        color: #ffffff;
        transition-duration: 0.2s;
      }
    }
    label{
      width: 100%;
      font-size: 14px;
    }
    
  }
  