.addEvent{
    display: flex;

    .container{
        flex: 6;

        .title{
          color: #10A19D;
          display: flex;
          padding: 5px;
          align-items: center;
          justify-content: center;
        }
    }
}