.path{
    border-bottom: 1px solid #10A19D;
    background-color: #e3fbfb ;
    display: flex;
    align-items: center;
    justify-content: baseline;
    font-size: 14px;
    font-weight: lighter;
    color: #10A19D;
    padding: 5px;
}